@font-face {
  font-family: "Excon";
  src: url("../fonts/excon/Excon-Variable.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  unicode-range: U+0020-007F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --very-dark: #0c0b1c;
  --dark-blue: #191939;
  --dark-blue-2: #161533;
  --purple: #5b46bc;
  --purple-2: #616498;
  --green: #64e300;
  --red: #f11f5e;
  --orange: #f6be2c;
  font-size: 14px;
  @media screen and (max-width: 991px) {
    font-size: 13px;
  }
}

html,
body {
  font-family: Excon;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
  transition: background 0.15s ease;
  background-size: cover;
  background: #0e0d1f;

  #app {
    flex: 1;
  }
}

select {
  border: none;
  outline: none;
}

input,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

button,
select {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

input {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  outline: none;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: transparent;
  cursor: pointer;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
